<body>
    <div class="container" id="borderimg">

        <a class="nav-link" routerLinkActive="active" routerLink="/employeeSchedule">Employee Schedule</a>
        <a></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/food">Food Inventory</a>
        <a></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/equipment">Equipment Management</a>
        <a></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/eventSchedule">Scheduling System</a>
        <a></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/employee">Log Out</a>
        <a></a>
        <br><br><br>
    </div>
    <br><br>
       <div class = "center"> 
       <img src = "https://visitbrookingssd.com/assets/uploads/events/_full_crop/Brookings_Activity_Center_exterior_640x360.jpg" class = "middle" />
       </div>
  
    </body>
