<div class = 'center'>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=OW9hMzRraXVxbG5sbHY1c2o2Nmg3Y2s4ajRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bWFxZnM4cnZqZGp2bmhpa3RsNTQ0OWhvZDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23D81B60&amp;color=%23AD1457&amp;color=%230B8043&amp;showTitle=0" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<br><br>
<div class="form-container"> 
    <div id="login_form">
      <div style = "text-align:center">
        <h2>Submit Hours Worked</h2> 
            <form class = "list" action ="\index.html"> 
                <input type="email" required name="email" placeholder="Email"  />
                <input type="password" required name="password" placeholder="Password"  />
             <input type="number" required name="hours" placeholder="Hours Worked"  />
             <input type="date" required name = "date" placeholder="Pay Week"/>
             <input type="submit" name="submit" routerLinkActive="active" routerLink="/employeeHome" value="Submit"  />
             </form>                  
    </div>
    </div>
</div> 

<br><br>
<div class="form-container"> 
    <div id="login_form">
      <div style = "text-align:center">
        <h2>Submit Available hours</h2> 
            <form class = "list" action ="\index.html"> 
                <input type="email" required name="email" placeholder="Email"  />
                <input type="password" required name="password" placeholder="Password"  />
             <p>Sunday</p>
             <input type="date" required name="date" />
             <input type="time" required name ="number" placeholder = "Time Available"/>
             <input type="time" required name ="number" placeholder = "Time Available"/>
             <p>Monday</p>
             <input type="date" required name="date" />
             <input type="time" required name ="time1" placeholder = "Time Available"/>
             <input type="time" required name ="time2" placeholder = "Time Available"/>
             <p>Tuesday</p>
             <input type="date" required name="date" />
             <input type="time" required name ="time1" placeholder = "Time Available"/>
             <input type="time" required name ="time2" placeholder = "Time Available"/>
             <p>Wednesday</p>
             <input type="date" required name="date" />
             <input type="time" required name ="time1" placeholder = "Time Available"/>
             <input type="time" required name ="time2" placeholder = "Time Available"/>
             <p>Thursday</p>
             <input type="date" required name="date" />
             <input type="time" required name ="time1" placeholder = "Time Available"/>
             <input type="time" required name ="time2" placeholder = "Time Available"/>
             <p>Friday</p>
             <input type="date" required name="date" />
             <input type="time" required name ="time1" placeholder = "Time Available"/>
             <input type="time" required name ="time2" placeholder = "Time Available"/>
             <p>Saturday</p>
             <input type="date" required name="date" />
             <input type="time" required name ="time1" placeholder = "Time Available"/>
             <input type="time" required name ="time2" placeholder = "Time Available"/>

             <input type="submit" name="submit" routerLinkActive="active" routerLink="/employeeHome" value="Submit"  />
             </form>                  
    </div>
    </div>
</div> 