<br><br>
<div class="form-container"> 
    <div id="login_form">
      <div style = "text-align:center">
        <h2>Schedule an Event</h2> 
            <form class = "list" action ="\index.html"> 
                <input type="email" required name="email" placeholder="Email"  />
                <input type="password" required name="password" placeholder="Password"  />
             <input type="text" required name="name" placeholder="Event Name"  />
             <input type="date" required name = "date" placeholder="Event Date"/>
             <p>Additional Information</p>
             <textarea name="text" rows="14" cols="30" wrap="soft" placeholder="Additional Information"> </textarea>
             <input type="submit" name="submit" routerLinkActive="active" routerLink="/UserHome" value="Submit"  />
             </form>                  
    </div>
    </div>
</div> 
