<html>
    <body>
      <p> <br> </p>
      <div class="form-container"> 
          <div id="login_form">
            <div style = "text-align:center">
              <th>Equipment Management</th> 
                  <form class = "list">
                      <label>Item </label>
                      <label>Bin </label>
                      <label>Shelf </label>
                      <label>Location </label>
                      <label>Quanity </label>
                      <input type="email" required name="email" placeholder="Email"  />
                      <input type="password" required name="password" placeholder="Password"  />
                   <input type="submit" name="submit" routerLinkActive="active" routerLink="/employeeHome" value="Log In"  />
                   </form>
                       
          </div>
          </div>
      </div> 
      <p> <br> <br> <br>  </p>
    </body>
  </html>
