


<div class = "center">
  <img src="https://www.arcgis.com/sharing/rest/content/items/3cf875abcdc54f9c9771b98aad480a9c/resources/Brookings_Logo_with_LineClearBG__1555098597503__w279.png"/>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container" id ="borderimg">
    


        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        <a></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/user">User Login</a>
        <a></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/employee">Employee Login</a>
        <a></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/calender">Calender</a>
        <a></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/terms">Terms and Conditions</a>
        <a></a>
        <br><br><br>
  </div>
</nav>

<div class="container text-center">
  <router-outlet></router-outlet>
</div>