<body>
<p> <br> <br> </p>
      <div class="form-container"> 
          <div id="login_form">
            <div style = "text-align:center">
              <h2>Sign Up</h2> 
                  <form class = "list" action ="\index.html"> 
                      <input type="email" required name="email" placeholder="Email"  />
                      <input type="password" required name="password" placeholder="Password"  />
                   <input type="password" required name="password" placeholder="Confirm Password"  />
                   <input type="submit" name="submit" routerLinkActive="active" routerLink="/user" value="Sign Up"  />
                   </form>                  
          </div>
          </div>
      </div> 
<br> <br> <br> <br> <br> <br> 
    </body>
