<body>

    <p> <br> </p>
      <div class="form-container"> 
          <div id="login_form">
            <div style = "text-align:center">
              <h2>Verify Email</h2> 
                  <form class = "list">
                      <input type="email" required name="email" placeholder="Email"  />
                      <input type="submit" name="submit" value="Enter"  />
                   </form>

<br><br>
                   <p>In order to reset your password, a verification email will be sent to the account that is linked to your member login. </p>
  
          </div>
          </div>
      </div> 
          <p> <br> <br> <br> <br> </p>
    </body>
