<html>
  <body>

	<p> <br> </p>
	<div class="form-container"> 
  	  <div id="login_form">
  		<div style = "text-align:center">
    		<h2>User Login</h2> 
    			<form class = "list" action ="\index.html"> 
       			 <input type="email" required name="email" placeholder="Email"  />
       			 <input type="password" required name="password" placeholder="Password"  />
				<input type="submit" name="submit" routerLinkActive="active" routerLink="/UserHome" value="Log In"  />
                 </form>
				 <a class="nav-link" routerLinkActive="active" routerLink="/forgotPassword">Forgot Password</a>
				 <a></a>
				<br>
				<a class="nav-link" routerLinkActive="active" routerLink="/signup">New User</a>
				<a></a>
                 
    	</div>
  	  </div>
	</div> 
	<p> <br> <br> <br> <br> </p>
  </body>
</html>